In [1]:
def <関数名>(<引数>):
    <式>
    return <式>

SyntaxError: invalid syntax (<ipython-input-1-32e473335af3>, line 1)

In [2]:
lambda <引数>:<式>

SyntaxError: invalid syntax (<ipython-input-2-60257ef45af8>, line 1)

In [3]:
def square(x):
    '''与えられた数値の２乗を返す'''
    return x ** 2

print(square(10))

100

In [4]:
# 与えられた数値の２乗を返す
sq_func = lambda x: x ** 2

print(sq_func(10))

100

In [5]:
i_num_list = range(1, 11)
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字列リスト:", s_num_list)

文字列リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [6]:
# 数値を文字に変換して修飾します
for s in map(lambda i: "No." + str(i), range(1, 11)):
    print(s, end = " ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [7]:
# 偶然だけ取得します
for e in filter(lambda i: i % 2 == 0, range(1, 11)):
    print(e, end = " ")

2 4 6 8 10

In [8]:
def is_even(x):
    '''偶然なら　True'''
    return x % 2 == 0

# 偶然だけ取得します
for e in filter(lambda i: i % 2 == 0, range(1, 11)):
    print(e, end = " ")

2 4 6 8 10

In [9]:
pairs = [(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]
print(pairs)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [10]:
pairs.sort()
print(pairs)

[(1, 'up'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top')]

In [11]:
pairs.sort(key = lambda x: x[1], reverse = True)
print(pairs)

[(1, 'up'), (6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [12]:
n = 3
func = lambda n: "even" if (n % 2 == 0) else "odd"
func(n)

'odd'

In [13]:
n = 3
x = "even" if (n % 2 == 0) else "odd"
print(x)

odd

In [14]:
n = 3
if (n % 2 == 0):
    x = "even"
else:
    x = "odd"
print(x)

odd

In [15]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]